@model BusinessLogic.ViewModel.BranchUpdateModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BranchUpdateModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>

        <dd>
            <a target=”_blank” href=" @Url.Content("~/UploadedFiles/" + System.IO.Path.GetFileName(Model.File))">@System.IO.Path.GetFileName(Model.File) </a>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayName("Representative")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representative.Name)
            @Html.DisplayFor(model => model.Representative.Surname)
        </dd>
        <dt>
            @Html.DisplayName("Representative Adress")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representative.Adress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>



