@model IEnumerable<BusinessLogic.ViewModel.BranchUpdateModel>

@{
    ViewBag.Title = "GetAllAppeals";
}


@if (TempData["Success"] != null)
{
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="alert alert-success" id="successMessage">@TempData["Success"]</h2>
        </div>
    </div>
}


<h2>GetAllAppeals</h2>

<div style="margin-bottom:20px;">
    <label>Branch Name</label>
    <input type="text" class="search" placeholder="Tap to searh" />
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplyNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Representative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyNo)
            </td>
            <td class="namerow">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Representative.Name)
                @Html.DisplayFor(modelItem => item.Representative.Surname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>

                <button>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </button>


                @if (item.Status == "Added")
                {
                    <button id='open' data-toggle="modal" data-target="#showmodal">
                        @Html.ActionLink("Icra Et", "Confirm", new { id = item.Id })
                    </button>
                }

                @if (item.Status == "Processing")
                {
                    <button class="btn btn-secondary" disabled>
                        Icra Edildi
                    </button>
                }
                @if (item.Status == "Confirmed")
                {
                    <button class="btn btn-success" disabled>
                        Tətəsdiqləndi
                    </button>
                }
                @if (item.Status == "Rejected")
                {
                    <button class="btn btn-danger" disabled>
                        Müraciətiniz rədd edildi
                    </button>
                }
                <div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            @{
                                Html.RenderPartial("_ModalPartialView", item);
                            }
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </td>


        </tr>
    }

</table>


